body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 1%;
}

button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    padding: 1.5% 2%;
    border: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 3%;
}

li {
    margin-top: 0.5%;
}

a {
    color: #5f9341;
}